/* http://www.vanseodesign.com/css/vertical-centering/ CSS Table Method explained */
.imagePortlet .image-wrapper {
    display: table;
}


/* Try to override Plone's default link border styles hard for image links */
.imagePortlet .outer-wrapper,
.imagePortlet .outer-wrapper:active,
.imagePortlet .outer-wrapper:visited,
.imagePortlet .outer-wrapper:hover,
#content dl.imagePortlet a.outer-wrapper,
#content dl.imagePortlet a.outer-wrapper:active,
#content dl.imagePortlet a.outer-wrapper:visited,
#content dl.imagePortlet a.outer-wrapper:hover,
#content dl.imagePortlet a.outer-wrapper:link {
    border-bottom: 0 !important;
}

/* Text-over-image using relative + absolute positioning trick */
.imagePortlet .text {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.hidden-portlet {
    display: none;
}
