.imagePortlet .image-wrapper {
    position: relative;
    display: block;
}

.imagePortlet .image-wrapper,
.imagePortlet .image-wrapper:active,
.imagePortlet .image-wrapper:visited,
.imagePortlet .image-wrapper:hover {
    text-decoration: none;
    border: 0;
}

.imagePortlet img {
    position: absolute;
}

/* Text-over-image using relative + absolute positioning trick */
.imagePortlet .text {
    position: absolute;
    top: 10px;
    left: 10px;
}